<?xml version="1.0" encoding="UTF-8"?>
<CustomSearchEngine language="" safesearch="false" autocompletions="true" enable_promotions="false"
    top_refinements="4">
    <Title>Wikipedia Sources</Title>
    <Description>Wikipedia Source Search Engine

        Source Code: https://github.com/AidanGlickman/Wikipedia-Source-Search</Description>
    <Context>
        <BackgroundLabels>
            <Label name="_include_" mode="FILTER"></Label>
            <Label name="_exclude_" mode="ELIMINATE"></Label>
        </BackgroundLabels>
        <Facet>
            <FacetItem>
                <Label name="stellar" mode="FILTER"></Label>
                <Title>Stellar Sources</Title>
            </FacetItem>
            <FacetItem>
                <Label name="generally_reliable" mode="FILTER"></Label>
                <Title>Generally Reliable Sources</Title>
            </FacetItem>
            <FacetItem>
                <Label name="marginally_reliable" mode="FILTER"></Label>
                <Title>Marginally Reliable Sources</Title>
            </FacetItem>
        </Facet>
    </Context>
    <LookAndFeel element_layout="8" theme="1" enable_cse_thumbnail="true" custom_theme="false"
        font="0">
        <Logo url="" destination="" height="30"></Logo>
        <Widget query_parameter_name="q"></Widget>
    </LookAndFeel>
    <ImageSearchSettings enable="false"></ImageSearchSettings>
    <cse_advance_settings enable_facet_search="false">
        <web_search_options enable_history="true" show_structured_data="false">
            <search_restrict_args lr="" cr="" gl="" filter="0" sort="" as_siteseach="" as_oq=""></search_restrict_args>
        </web_search_options>
        <image_advanced_options default_to_image_search="false">
            <search_restrict_args lr="" cr="" gl="" filter="0" sort="" as_siteseach="" as_oq=""></search_restrict_args>
        </image_advanced_options>
        <search_options link_target=""></search_options>
        <custom_search_control_options no_results_string=""></custom_search_control_options>
    </cse_advance_settings>
    <sort_by_keys label="Relevance" key=""></sort_by_keys>
    <sort_by_keys label="Date" key="date"></sort_by_keys>
    <autocomplete_settings source="2"></autocomplete_settings>
</CustomSearchEngine>
